@package_test:registry=https://gitlab.com/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=glpat-q2S5tYq8Bj7zx-lsPMN8P286MQp1OmhyeXdwCw.01.121msgu79
//your_domain_name/api/v4/projects/${CI_PROJECT_ID}/packages/npm/:_authToken=${CI_JOB_TOKEN}